.data-card {
    width: 300px;
    max-width: 340px;
    height: 150px;
    border-radius: 10px;
    margin: 10px 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}
.info-header {
    font-size: 1.6rem;
    font-weight: 400;
}
.info-text {
    font-size: 0.9rem;
}
.icon-card {
    transform: scale(1.5);
    padding: 1rem 0;
}

.green {
    color: green;
}
.red {
    color: red;
}
.yellow {
    color: yellow;
}

.green2 {
    color: #5cc4b2;
}
.white {
    color: #fff;
}
