<app-navbar></app-navbar>
<section class="container">
    <div class="cards">
        <app-data-cards [icon]="'calendar_month'" [infoHeader]="'OCT 09 2023'"
            [infoText]="'First Expense Date'"></app-data-cards>
        <app-data-cards [icon]="'check'" [infoHeader]="'OCT 09 2023'"
            [infoText]="'Latest Expense Date'"></app-data-cards>
        <app-data-cards [icon]="'receipt'" [infoHeader]="'2'" [infoText]="'Number of Expenses'"></app-data-cards>
        <app-data-cards [icon]="'payments'" [infoHeader]="'500'" [color]="'green'"
            [infoText]="'Current Budget'"></app-data-cards>
    </div>

    <div class="tabs-bg">
        <mat-tab-group>
            <mat-tab *ngFor="let item of chartsArray">
                <div class="btn-add">
                    <button (click)="openDialog('New ' + item.labels, 1)" class="btn" mat-raised-button
                        [style]="(item.labels == 'Income') ? 'background-color: orange;' : ((item.labels== 'Expense') ? 'background-color: #3875ea;' : ((item.labels == 'Loan Payments') ? 'background-color: #28a745;': (item.labels == 3) ? 'background-color: #dc3545;' : ''))">
                        Add New {{ item.labels }}
                    </button>
                </div>
                <ng-template mat-tab-label>{{item.labels}}</ng-template>
                <div>
                    <app-chart [chartData]="[item]"></app-chart>
                </div>
                <div>
                    <app-table [dataSource]="item.incomes||item.expenses||item.fixedExpenses"></app-table>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>





</section>