<app-navbar></app-navbar>
<section class="container">
    <div class="cards">
        <app-data-cards [icon]="'calendar_month'" [infoHeader]="currentDate|date:'shortDate'"
            [infoText]="'Today'"></app-data-cards>
        <app-data-cards [icon]="'paid'" [color]="'green'" [infoHeader]="totalIncome"
            [infoText]="'Total Income'"></app-data-cards>
        <app-data-cards [icon]="'receipt'" [infoHeader]="numberExpenses"
            [infoText]="'Number of Expenses'"></app-data-cards>
        <app-data-cards [icon]="'payments'" [infoHeader]="currentBudget" [color]="'yellow'"
            [infoText]="'Current Budget'"></app-data-cards>
    </div>

    <div class="w-100" *ngFor="let item of chartsArray">

        <ng-template mat-tab-label>{{item.labels}}</ng-template>
        <div>
            <app-chart [chartData]="[item]"></app-chart>
        </div>
    </div>

    <mat-tab-group class="w-100" *ngFor="let item of chartsArray">
        <mat-tab label="Incomes">
            <div class="btn-flex">
                <button color="primary" (click)="openDialog('New Income', 1)" class="btn" mat-raised-button>
                    Add New Income
                </button>
            </div>
            <app-table [id]="item.id" [dataType]="'incomes'"  [dataSource]="item.incomes"></app-table>
        </mat-tab>
        <mat-tab label="Expenses">
            <div class="btn-flex">
                <button color="warn" (click)="openDialog('New Income', 1)" class="btn" mat-raised-button>
                    Add New Expense
                </button>
            </div>
            <app-table [id]="item.id" [dataType]="'expenses'"  [dataSource]="item.expenses"></app-table>
        </mat-tab>
        <mat-tab label="Fixed Expenses">
            <div class="btn-flex">
                <button color="accent" (click)="openDialog('New Income', 1)" class="btn" mat-raised-button>
                    Add New Fixed Expense
                </button>
            </div>
            <app-table [id]="item.id" [dataType]="'fixedExpenses'" [dataSource]="item.fixedExpenses"></app-table>
        </mat-tab>
    </mat-tab-group>






</section>