<app-navbar></app-navbar>
<section class="container">
    <div class="cards">
        <app-data-cards [icon]="'calendar_month'" [infoHeader]="'OCT 09 2023'" [infoText]="'First Expense Date'"></app-data-cards>
        <app-data-cards [icon]="'check'" [infoHeader]="'OCT 09 2023'" [infoText]="'Latest Expense Date'"></app-data-cards>
        <app-data-cards [icon]="'receipt'" [infoHeader]="'2'" [infoText]="'Number of Expenses'"></app-data-cards>
        <app-data-cards [icon]="'payments'" [infoHeader]="'500'" [color]="'green'" [infoText]="'Current Budget'"></app-data-cards>
    </div>



    
</section>